#container {
  width: 900px;
  margin: 20px auto;
}
h1 {
  font-size: 26px;
  margin: 0 0 20px 0;
  font-family: serif;
}
h2 {
  margin: 12px 0 12px 0;
  padding: 5px;
  background-color: #EBF1F6;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 20px;
}
p {
  font-size: 16px;
  margin: 3px 0;
  font-family: sans-serif; 
  clear: both;
  overflow: hidden;
}
p label {
  float: left;
  width: 150px;
  padding: 5px;
  font-size: 12px;
}
p input {
  float: left;
  width: 300px;
  border: 2px solid #BBB;
  background-color: white;
  text-transform: none;
  color: #222;
  padding: 5px;
}

p span {
  display: block;
  float: left;
}
p span input {
  float: none;
}